.form__input {
  width: 358px;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  outline: none;
}

@media screen and (max-width: 600px) {
  .form__input {
    width: 238px;
  }
}
