.tooltip {
    width: 430px;
    height: 330px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .tooltip {
      margin-top: 16px;
      width: 280px;
      height: 308px;
    }
}
