.tooltip__text {
    margin-top: 32px;
    font-size: 24px;
    line-height: 29px;
    max-width: 360px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .tooltip__text {
        font-size: 20px;
        line-height: 24px;
    }
}
